################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.ilk
*.pdb
*.suo
*.db
*.ipch
*.log
*.obj
*.pch
*.tlog
*.idb
*.exe
*.opendb
*.db-shm
*.db-wal
/Server/lib/MePlay.lib
*.user
/frame.zip
/Server/lib/linux/Release/libmeplay.a
/Server/lib/linux/Release/libboost_thread.a
/Server/lib/linux/Release/libboost_system.a
/Server/lib/linux/Release/libboost_serialization.a
/Server/lib/linux/Release/libboost_log_setup.a
/Server/lib/linux/Release/libboost_log.a
/Server/lib/linux/Release/libboost_iostreams.a
/Server/lib/linux/Release/libboost_filesystem.a
/Server/lib/linux/Release/libboost_chrono.a
/Server/lib/linux/Debug/libmeplay.a
/Server/lib/linux/Debug/libboost_thread.a
/Server/lib/linux/Debug/libboost_system.a
/Server/lib/linux/Debug/libboost_serialization.a
/Server/lib/linux/Debug/libboost_log_setup.a
/Server/lib/linux/Debug/libboost_log.a
/Server/lib/linux/Debug/libboost_iostreams.a
/Server/lib/linux/Debug/libboost_filesystem.a
/Server/lib/linux/Debug/libboost_chrono.a
